#convene {
	font-family: helvetica, arial;
	font-size: 10pt;
	
	.convene-comment {
		background-color: #E7E7E8;
		padding: 10px;
		width: 500px;
		white-space: pre-line;
	}
	
	.convene-commentcontainer {
		margin-bottom: 20px;
	}
	
	.convene-comment_footer {
		margin-top: 5px;
	}
	
	.convene-action {
		color: blue;
		cursor: pointer;
	}
	
	.convene-edit-textarea {
		width: 490px;
		height: 200px;
	}
	
	#convene-pagination {
		height: 20px;
		margin: 10px 0px;
		a, span {
			border: 1px #CCC solid;
			padding: 2px 4px;
			margin-right: 5px;
		}
		.current {
			font-weight: bold;
		}
	}
	
	#convene-user-table {
		font-size: 10pt;
		border-collapse: collapse;
		th {
			border-bottom: 4px #AAA solid;
			padding: 2px 10px 2px 15px;
		}
		
		tr.alt {
				background-color: #F8F8F8;
			}
		}
		
		tr {
			border-bottom: 1px #DDD solid;
		}
		
		td {
			padding: 2px 10px;
		}
		
		
		
		.sorted {
			background: #FFF url("/resources/images/down_icon.png") no-repeat 1px 12px;
			border: 1px #CCC solid;
		}
		
		.sort-desc {
			background: #FFF url("/resources/images/up_icon.png") no-repeat 1px 12px;
		}
		
		
	}
}